extends ../layout

block content
  h1 Create a new food rule
  .row
    .col-sm-2
      p I want to eat
    .col-sm-2: .form-group
      .col-sm-6: input.form-control(type="text", placeholder="2")
      .col-sm-6: input.form-control(type="text", placeholder="pieces")
    .col-sm-2
      input.form-control(type="text", placeholder="Food Name")
    .col-sm-2: .form-group
      .col-sm-6: input.form-control(type="text", placeholder="at least")
      .col-sm-6: input.form-control(type="text", placeholder="3")
    .col-sm-2: .form-group
      .col-sm-6 per
      .col-sm-6: input.form-control(type="text", placeholder="day")
  .row: table.table.table-striped.table-bordered
    thead: tr
      th Food / Category
      th Quantity
      th Occurance
      th Frequency
    tbody
      tr
        td Brocolli
        td 8 oz
        td 2
        td per week
      tr
        td Red meat
        td 1 piece
        td 1
        td per week
      tr
        td Carrots
        td 6 oz
        td 1
        td per day
      tr
        td Raw unsalted almonds
        td 6 oz
        td 1
        td per day
      tr
        td Banana
        td 1 piece
        td 2
        td per week
      tr
        td Water
        td 8 oz
        td 2
        td per week
